*{
    font-family: sans-serif;
}
html{
    height: 100dvh;
    width: 100dvw;
}
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(1, 0, 9);
    gap: 2rem;
    position: relative;
}
body>span{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
body>form{
    display: flex;
    background-color: rgb(0, 51, 51);
    flex-direction: column;
    width: 25%;
    height: 60%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
}
form>input,form>select{
    width: 70%;
    height: 25px;
}
form>button{
    width: 60%;
    height: 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
form>button:hover{
    background-color: rgb(1, 0, 9);
    color: white;
    scale: 1.1;
}
form>label{
    font-size: 1.3rem;
    font-weight: 600;
}
body>button{
    height: 40px;
    width: 130px;
    border-radius: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    border: none;
}
body>button:hover{
    background-color: rgb(1, 0, 9);
    color: white;
}
body>.modal{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}
body table{
    height: 400px;
    width: 70%;
    text-align: center;
}
table,tr,td,th{
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
}
.modal.on{
    display: flex;
}
